asgiref==3.3.4
attrs==21.2.0
Automat==20.2.0
beautifulsoup4==4.9.3
constantly==15.1.0
Django==3.2.4
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
pytz==2021.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing-extensions==3.10.0.0
zope.interface==5.4.0
